<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h2 class="border text-white bg-primary py-3">To Do</h2>
      <div
        class="card text-white bg-primary user-select-none mb-3"
        *ngFor="let card of toDoCards$ | async"
      >
        <div class="card-header"></div>
        <div class="card-body">
          <p class="card-text">{{ card.message }}</p>
        </div>
        <div class="card-controls d-flex justify-content-around mb-2">
          <button
            class="btn btn-success"
            (click)="onMoveCard(card, cardStatusEnum.InProgress)"
          >
            Move Right
          </button>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <h2 class="border text-dark bg-warning py-3">In Progress</h2>
      <div
        class="card text-dark bg-warning user-select-nonemb-3"
        *ngFor="let card of inProgressCards$ | async"
      >
        <div class="card-header"></div>
        <div class="card-body">
          <p class="card-text">{{ card.message }}</p>
        </div>
        <div class="card-controls d-flex justify-content-around mb-2">
          <button
            class="btn btn-warning"
            (click)="onMoveCard(card, cardStatusEnum.ToDo)"
          >
            Move Left
          </button>
          <button
            class="btn btn-success"
            (click)="onMoveCard(card, cardStatusEnum.Done)"
          >
            Move Right
          </button>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <h2 class="border text-white bg-success py-3">Done</h2>
      <div
        class="card text-white bg-success user-select-none mb-3"
        *ngFor="let card of doneCards$ | async"
      >
        <div class="card-header"></div>
        <div class="card-body">
          <p class="card-text">{{ card.message }}</p>
        </div>
        <div class="card-controls d-flex justify-content-around mb-2">
          <button
            class="btn btn-warning"
            (click)="onMoveCard(card, cardStatusEnum.InProgress)"
          >
            Move Left
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="taskMessage">Task message</label>
        <input
          type="text"
          class="form-control"
          id="taskMessage"
          [(ngModel)]="taskMessage"
        />
      </div>
      <button class="btn btn-primary mt-3" (click)="onAddTask()">
        Add Task
      </button>
    </div>
    <div class="col"></div>
  </div>

  <hr />

  <button class="btn btn-primary" (click)="onLoadPosts()">Load Posts</button>

  <hr />

  <div class="card" *ngFor="let post of posts$ | async">{{ post | json }}</div>
</div>
